h1 {
  text-transform: uppercase;
}
.field {
  padding: 20px 8px;
  min-width: 100px;
  margin: 10px;
  @media screen and (max-width: 576px) {
    min-width: 80px;
    margin: 5px;
  }
  @media screen and (max-width: 380px) {
    min-width: 60px;
    margin: 3px;
  }
}

.label {
  @media screen and (max-width: 576px) {
    font-size: 12px;
  }
}
